{{#resources}}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{#methods}}
                    <span class="badge badge_{{method}}">{{method}}</span>
                {{/methods}}
                <a class="block" data-toggle="collapse" data-parent="#accordion_{{rootId}}" href="#{{uniqueId}}">
                    <span class="parent">{{parentUrl}}</span>{{relativeUri}}
                </a>
            </h4>
        </div>
        <div id="{{uniqueId}}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                    {{#methods}}
                        <a href="#" class="list-group-item"><span class="badge badge_{{method}}">{{method}}</span> {{description}}</a>
                    {{/methods}}
                </div>
            </div>
        </div>
    </div>

    {{> resource}}
{{/resources}}
